body {
  background-color: #eeeeee;
  font-family: 'Roboto Condensed', sans-serif;
}

#skills h2 {
  text-align: center;
}

h2 {
  padding-bottom: 1rem;
}

.edu-info {
  padding-left: 2rem;
}

#certification,
#intro h2,
#intro h6 {
  text-align: center;
  padding: 1rem 0;
}

.education,
.projects,
.side-bar,
.internship {
  background-color: #fff;
  box-shadow: 2px 2px 5px 2px #afb0b1;

  margin: 16px 0;
  border-radius: 5px;
  padding: 2rem;
}

.icon {
  color: #1d866c;
}

#skills h5 {
  color: #0f3558;
}

.skill-col {
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
}

.skill-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.spacing {
  padding: 10px;
  text-align: center;
}

.size {
  height: 50px;
  width: 50px;
}
/* https://colorhunt.co/palette/2763 */

.date {
  color: #1d866c;
  font-size: 1.1rem;
}

.date-icon {
  margin-right: 10px;
}

.box {
  background-color: #1d866c;
  color: #fff;
  padding: 3px;
  border-radius: 5px;
}

/* ---------------------------FOOTER------------------------------ */

.copyright {
  color: #eeeeee;
  font-size: 1rem;
  padding: 20px 0;
}

.footer-link {
  color: #dbdada;
  margin: 10px;
}

#footer i:hover {
  color: #fff;
}

#footer {
  background-color: #1d866c;
  padding: 30px 0 10px;
  text-align: center;
  margin-top: 2rem;
}
